{% extends 'admin/base_admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard')}}
{% endblock %}
{% block title %}New Offer{% endblock %}

{% block body %}
    <h1>Create new Offer</h1>

    {{ include('admin/offer/_form.html.twig') }}

    

    <main>
        <div class="card">
            <h1 class="tableau table table-striped table-hover table-bordered" >Create new Offer</h1>
            <div class="card-body">
                {{ include('admin/offer/_form.html.twig') }}
            </div>
        </div>
    </main>

{% endblock %}
