{% extends 'base.html.twig' %}

{%  block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin_offer') }}
{% endblock %}

{% block title %}Créer un type de contrat{% endblock %}

{% block body %}
    <div class="container mt-4">
    <h1>Créer un type de contrat</h1>
    <div class="raw">
    {{ include('admin/contract_type/_form.html.twig') }}
    </div>
    </div> 
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin_offer') }}
{% endblock %}