{% extends 'admin/base_admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard')}}
{% endblock %}

{% block title %}Edit Status{% endblock %}

{% block body %}
    <main>
        <div class="card">
            <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Éditer un statut</h3>
            <div class="card-body">
                <div class="raw">
                    {{ include('admin/status/_form.html.twig', {button: 'Sauvegarder'}) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
