{% extends 'admin/base_admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard')}}
{% endblock %}

{%  block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Créer une nouvelle localisation{% endblock %}

{% block body %}
    <main>
        <div class="card">
            <h3  class="card-header text-center font-weight-bold text-uppercase py-4">Créer une nouvelle localisation</h3>
            <div class="card-body">        <div class="raw">
                    {{ include('admin/location/_form.html.twig') }}
                </div>
            </div>
        </div>
    </main>


{% endblock %}
