@import 'variables';
/*
    DEMO STYLE
*/

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: rgb(255, 255, 255);
}

a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 1px 10px;
  background: rgb(0, 0, 0);
}

.navbar-btn {
  box-shadow: none;
  outline: none;
  border: none;
}
.nav-link {
  text-align: center;
  background-color:$color-third; 
  margin: 8%;
  border-radius: 15px;
}


.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#dashboard{
    text-decoration: none;
    transition: all 0.3s;
    color: inherit;
    padding-left: 5%;
    padding-right: 56%;
    padding-top: 6%;
    padding-bottom: 7%;
    font-size: 1.1em;
  }
  #dashboard:hover{
    background-color:$color-third-2; 
    }
.wrapper {
    display: flex;
    align-items: stretch;
  }
  
  #sidebar {
    min-width: 13%;
    // max-width: 250px;
    position: absolute;
    height: 100%;
    background: $color-primary;
    color: #fff;
    transition: all 0.3s;
  }
  
  #sidebar a,
  #sidebar a:hover,
  #sidebar a:focus {
    color: inherit;
  }
  
  #sidebar .sidebar-header {
    padding: 17%;
    padding-bottom: 67px;
    background: #0372B3;
  }
  
  #sidebar ul.components {
    margin-top: 5%;
    padding: 20px 5px;
    border-bottom: 1px solid $color-third-4;
  }
  
  #sidebar ul p {
    color: #ffffff;
    padding: 10px;
    margin-bottom: 0px;
  }
  
  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
  }
  
  #sidebar ul li a:hover {
    color: $color-primary;
    background: #fff;
  }
  
  
  ul ul a {
    font-size: 0.9em;
    padding-left: 30px ;
    background: $color-primary;
  }
  /* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

main{
  position: absolute;
  left: 13%;
  width: 50%;
  width: 87%
}
.card{
  margin-top: 88px;
  width: 50%;
  left: 25%;
}
form {
  margin: auto;
  padding: 20px;
  width: 65%;
}
.form-control {
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-group {
  margin-top: 10px;
  width: 100%;
}
button {
  margin-top: 10%;
  padding: 15px 83px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  text-decoration: none;
  color: #ffffff;
  background-color: #0899EF;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  float: right;
  border-radius: 5px;
}
  
  