@import 'variables';
/*
    DEMO STYLE
*/
body {
    font-family: "Poppins", sans-serif;
    background: #fafafa;
  }

  

.navbar {
    padding: 1px 10px;
    background: rgb(0, 0, 0);
  }
  
a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
  
}
.navbar {
    padding: 1px 10px;
    background: rgb(0, 0, 0);
}

.nav-link {
    text-align: center;
    background-color:$color-third; 
    margin: 8%;
    border-radius: 15px;
}

  
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#dashboard{
  text-decoration: none;
  transition: all 0.3s;
  color: inherit;
  padding-left: 5%;
  padding-right: 56%;
  padding-top: 6%;
  padding-bottom: 7%;
  font-size: 1.1em;
}

#dashboard:hover{
background-color:$color-third-2; 
}
.wrapper {
    display: flex;
    align-items: stretch;
  }
  
  #sidebar {
    min-width: 13%;
    position: absolute;
    height: 100%;
    background: $color-primary;
    color: #fff;
    transition: all 0.3s;
  }
  
  #sidebar a,
  #sidebar a:hover,
  #sidebar a:focus {
    color: inherit;
  }
  
  #sidebar .sidebar-header {
    padding: 17%;
    padding-bottom: 67px;
    background: #0372B3;
  }
  
  #sidebar ul.components {
    margin-top: 5%;
    padding: 20px 5px;
    border-bottom: 1px solid $color-third-4;
  }
  
  #sidebar ul p {
    color: #fff;
    padding: 10px;
    font-size: 1.1em;
    margin-bottom: 0;
    margin-top: 10px;
  }
  
  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
  }
  
  #sidebar ul li a:hover {
    color: $color-primary;
    background: #fff;
  }
  
  
  ul ul a {
    font-size: 0.9em;
    padding-left: 30px ;
    background: $color-primary;
  }
  
  
  
  
  
  /* ---------------------------------------------------
      CONTENT STYLE
  ----------------------------------------------------- */
  main{
    position: absolute;
    top: 20%;
    top: 2%;
    left: 18%;
    width: 75%;
    height: 50%;
  }
  .card{
    background-color:rgb(255, 255, 255);
  }
