@import 'variables'; 

main {
    padding-top: 200px; 
    background: linear-gradient(to bottom, rgba(55, 71, 79, 0.75), rgba(55, 71, 79, 0.75)), url('https://www.groupe-creative.fr/wp-content/uploads/2018/11/candidature_spontanee.jpg') no-repeat center fixed;
    width: 100%;
    height: 100vh;
    object-fit: contain;

    section {
        max-width: 600px;
        margin: auto;
        padding: 20px;
        background-color: lightgray; 
        border-radius: 10px; 
        
    }

    label {
        color: $color-white; 
    }

    textarea {
        width: 100%; 
        height: 200px; 
        margin: 10px 0; 
        border-radius: 10px; 
    }

    button {
        width: 100%; 
    }
}

