@import 'template'; 

.image { 
    background: linear-gradient(to bottom, rgba(55, 71, 79, 0.75), rgba(55, 71, 79, 0.75)), url('http://droppex.com/img/slider.jpg') no-repeat center fixed;

    width: 100%;
    height: 100vh;
    object-fit: cover;
    color: white; 
    text-align: left; 
    padding-top: 400px; 
    z-index: 10;

    h1 { 
        font-size: 3rem; 
        color: $color-white; 
        margin-bottom: 50px;         
    }
    
    p { 
        font-size: 20px;    
        color: $color-white; 
        margin-bottom: 50px; 
    }
}

.about {
    background-color: $color-orange; 
    padding: 100px 0px; 

    p {
        color: $color-black !important; 
    }
}

.services {
    padding: 100px 0px;
}
