/*############## COLOR ##############*/

$color-primary: #1FA3F3;
$color-secondary: #74fbff;
$color-third: #75C5F5;
$color-third-2: #49B4F4;
$color-third-3: #0899EF;
$color-third-4: #0372B3;
$color-white: #ffffff;
$color-black: #000000;
$color-grey: rgba(52, 58, 64, 0.9);
$color-red: red;
$color-orange:#f05f40;


/*############## FONT ##############*/

$fontTitre: 'Lato', sans-serif;
$fontParagraphe: 'Montserrat', sans-serif;

/*############## ELEMENTS ##############*/
