<footer class="d-flex flex-row justify-content-center flex-wrap bg-dark">
    <!-- FOOTER -->
    <section>
        <h4>Logisticc</h4>
        <p>Logisticc propose une gamme de solutions logistiques innovantes pour accompagner le développement des entreprises.</p>
    </section>
    <section>
        <h4>Navigation</h4>
        <nav>
            <ul>
                <li><a href="">Accueil</a></li>
                <li><a href="">Présentation</a></li>
                <li><a href="">Références</a></li>
                <li><a href="">Carrières</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
    </section>
    <section>
        <h4>Rejoignez-nous</h4>
        <a href=""><i class="fab fa-facebook"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
    </section>
    <section>
        <p>Logisticc, 36 avenue Sergent Michel Berthet, 69009 Lyon - Standard: +33 (0)4 69 69 69 69</p>
    </section>
</footer>
