{% extends 'admin/base_admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard')}}
{% endblock %}

{% block title %}Créer un type d'offre{% endblock %}

{% block body %}
    <main>
        <div class="card">
            <h3 class="card-header text-center font-weight-bold text-uppercase py-4" >Créer un type d'offre</h3>
            <div class="card-body">
                <div class="raw">
                    {{ include('admin/offer_type/_form.html.twig', {button: 'Créer'}) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
