{% extends 'base.html.twig' %}

{% block title %}Ma Carriere{% endblock %}

{% block body %}
<h1>PAGE CARRIERE</h1>
    <p><a href="{{ path('offres') }}">Listes des offres</a></p>
    {# TODO Candidature spontanée link #}
    <p><a href="">Candidature spontanée</a></p>
{% endblock %}
