{% extends 'base.html.twig' %}

{% block title %}Liste des offres{% endblock %}

{% block body %}
    {# TODO Candidature spontanée link #}
    <p><a href="">Candidature spontanée</a></p>

    <h1>LISTE DES OFFRES</h1>
    <ul>
        <h2> offres</h2>
        {% for offer in offers %}
            <li>
                {{ offer.title }} -
                {{ offer.id }} -
                {# TODO Postuler link #} <p><a href="">Postuler</a></p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
